<h1>Invoices</h1>

<turbo-frame id="invoice-list">
  <%= render "layouts/flash" %>
  <% if current_user.connected_with_xero? %>
    <div class="row mb-4">
      <div class="col-4">
        <%= form_tag "/", method: :get do %>
          <div class="form-group mb-2">
            <label for="tenant_id">Active Tenant</label>
            <%= select_tag "tenant_id", options_for_select(current_user.xero_token_set["connections"].pluck("tenantName", "tenantId"), selected: params[:tenant_id]), include_blank: "All", class: "form-select" %>
          </div>
          <div class="form-group">
            <%= submit_tag "View invoices", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-4 text-end offset-4 text-end">
        <%= form_tag sync_invoices_path do %>
          <%= submit_tag "Sync invoices", class: "btn btn-primary mb-4" %>
        <% end %>
        
        <%= form_tag disconnect_path do %>
          <%= submit_tag "Disconnect from Xero", class: "btn btn-danger" %>
        <% end %>
        
      </div>
    </div>
    
    <% if @invoices.present? %>
      <%= paginate @invoices, theme: 'bootstrap-5' %>
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Invoice ID</th>
            <th>Client</th>
            <th>Outstanding amount</th>
            <th>Total amount</th>
            <th>Due date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td><%= invoice.xero_invoice_id %></td>
              <td><%= invoice.client_name %></td>
              <td><%= number_to_currency(invoice.outstanding_amount) %></td>
              <td><%= number_to_currency(invoice.total_amount) %></td>
              <td><%= invoice.due_date %></td>
              <td><%= invoice.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @invoices, theme: 'bootstrap-5' %>
    <% elsif !@invoices.nil? %>
      <h4 class="mt-4">No data. Refresh the page or sync again to see latest data.</h4>
    <% end %>
  <% else %>
    <%= link_to "Connect with Xero", xero_authorization_url, class: "btn btn-primary" %>
  <% end %>
</turbo-frame>